In [2]:
import pandas as pd

In [3]:
orders = pd.read_csv("C:/Users/belou/OneDrive/Рабочий стол/пет проект/archive/orders.csv")
customers = pd.read_csv("C:/Users/belou/OneDrive/Рабочий стол/пет проект/archive/customers.csv")
order_items = pd.read_csv("C:/Users/belou/OneDrive/Рабочий стол/пет проект/archive/order_items.csv")

In [4]:
df = orders.merge( #соединение таблиц 
    customers, 
    on='customer_id', 
    how='inner')
df = df.merge (
    order_items, 
    on='order_id', 
    how='inner')
df = df[df['order_status'] == 'delivered']
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

In [5]:
df['order_date'] = pd.to_datetime(df['order_purchase_timestamp'])#формат
df['order_date'].dtype #проверить формат

dtype('<M8[ns]')

In [6]:
last_day = df['order_date'].max()
last_order = (
    df.groupby('customer_unique_id')['order_date']
    .max()
    .reset_index()
)
last_order['recency']=(last_day-last_order['order_date']).dt.days
last_order.head()

                 customer_unique_id          order_date  recency
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27      111
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27      114
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03      536
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41      320
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42      287

In [7]:
frequency = (
    df.groupby('customer_unique_id')['order_id']
    .nunique()
    .reset_index()
    .rename(columns={'order_id': 'frequency'})
)
frequency.sort_values(by='frequency', ascending=False).head()

                     customer_unique_id  frequency
51431  8d50f5eadf50201ccdcedfb9e2ac8455         15
22779  3e43e6105506432c953e165fb2acf44c          9
36706  6469f99c1f9dfae7733b25662e7f1782          7
73921  ca77025e7201e3b30c44b472ff346268          7
10060  1b6c7548a2a1f9037c1fd3ddfed95f33          7

In [8]:
monetary = (
    df.groupby('customer_unique_id')['price']
    .sum()
    .reset_index()
    .rename(columns={'price':'monetary'})
)
monetary.head()

                 customer_unique_id  monetary
0  0000366f3b9a7992bf8c76cfdf3221e2    129.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f     18.90
2  0000f46a3911fa3c0805444483337064     69.00
3  0000f6ccb0745a6a4b88665a16c9f078     25.99
4  0004aac84e0df4da2b147fca70cf8255    180.00

In [11]:
rfm = last_order.merge(
    frequency,
    on = 'customer_unique_id', 
    how='inner')
rfm = rfm.merge(
    monetary, 
    on = 'customer_unique_id', 
    how='inner')
rfm = rfm[['customer_unique_id', 'recency', 'frequency', 'monetary']]
rfm.head()

                 customer_unique_id  recency  frequency  monetary
0  0000366f3b9a7992bf8c76cfdf3221e2      111          1    129.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f      114          1     18.90
2  0000f46a3911fa3c0805444483337064      536          1     69.00
3  0000f6ccb0745a6a4b88665a16c9f078      320          1     25.99
4  0004aac84e0df4da2b147fca70cf8255      287          1    180.00

In [14]:
rfm['R_score'] = pd.qcut(
    rfm['recency'], 
    q=3,
    labels=[3,2,1]
)
rfm['M_score'] = pd.qcut(
    rfm['monetary'], 
    q=3, 
    labels=[1,2,3]
)

In [28]:
rfm['frequency'].value_counts().sort_index()

frequency
1     90557
2      2573
3       181
4        28
5         9
6         5
7         3
9         1
15        1
Name: count, dtype: int64

In [29]:
rfm['F_score'] = pd.cut(
    rfm['frequency'], 
    bins=[0,1,2,rfm['frequency'].max()], 
    labels=[1,2,3],
    right=True
)
rfm['F_score'].value_counts().sort_index()

F_score
1    90557
2     2573
3      228
Name: count, dtype: int64

In [31]:
rfm['rfm_code'] = (
    rfm['R_score'].astype(str)  
    + rfm['F_score'].astype(str)
    + rfm['M_score'].astype(str)
)
rfm.head()

,customer_unique_id,recency,frequency,monetary,R_score,M_score,F_score,F_bin,rfm_code
0,0000366f3b9a7992bf8c76cfdf3221e2,111,1,129.90,3,3,1,"(0.999, 15.0]",313
1,0000b849f77a49e4a4ce2b2a4ca5be3f,114,1,18.90,3,1,1,"(0.999, 15.0]",311
2,0000f46a3911fa3c0805444483337064,536,1,69.00,1,2,1,"(0.999, 15.0]",112
3,0000f6ccb0745a6a4b88665a16c9f078,320,1,25.99,1,1,1,"(0.999, 15.0]",111
4,0004aac84e0df4da2b147fca70cf8255,287,1,180.00,2,3,1,"(0.999, 15.0]",213

In [32]:
rfm['rfm_code'].value_counts()

rfm_code
211    10593
112    10320
311    10253
111    10218
312    10216
313     9841
212     9770
213     9727
113     9619
223      632
323      625
123      473
322      232
222      217
122      210
333       91
121       66
321       64
221       54
233       51
133       50
332       13
232        9
132        7
131        6
231        1
Name: count, dtype: int64

In [37]:
def rfm_segment(row):#деф - слово, которое обозначает начало функции, (роу) - аргумент одна строка 
    if row['R_score']==3 and row['F_score']==3 and row['M_score']==3: return 'VIP' #самые крутые 
    elif row['R_score']>1 and row['F_score']>1 and row['M_score']>1: return 'Loyal' #средне или недавно сделали покупку, 2 или больше заказов 
    elif row['R_score']==3 and row['F_score']==1: return 'New customer' #недавно сделали первый заказ 
    elif row['R_score']==1 and row['F_score']>1: return 'At risk' #давно не покупали, но раньше были активны 
    elif row['R_score']==1 and row['F_score']==1: return 'Lost' #сделали 1 заказ и давно 
    else: return 'Others'
rfm['segment'] = rfm.apply(rfm_segment, axis=1) #функция, чтобы применить функцию rfm_segment к каждой строке, axis=1 → Функция получает строку, а не столбец.
rfm=rfm[['customer_unique_id', 'recency', 'frequency', 'monetary', 'R_score', 'F_score', 'M_score', 'rfm_code', 'segment']] 
rfm.head()

,customer_unique_id,recency,frequency,monetary,R_score,F_score,M_score,rfm_code,segment
0,0000366f3b9a7992bf8c76cfdf3221e2,111,1,129.90,3,1,3,313,New customer
1,0000b849f77a49e4a4ce2b2a4ca5be3f,114,1,18.90,3,1,1,311,New customer
2,0000f46a3911fa3c0805444483337064,536,1,69.00,1,1,2,112,Lost
3,0000f6ccb0745a6a4b88665a16c9f078,320,1,25.99,1,1,1,111,Lost
4,0004aac84e0df4da2b147fca70cf8255,287,1,180.00,2,1,3,213,Others